[Unit]
Description=TDI Accelerometer reading service
After=network.target

[Service]
ExecStart=/usr/bin/python -u tdi_accelerometer.py
WorkingDirectory=/home/pi/Desktop/project/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target